<!DOCTYPE html>
<html lang="en">

  <head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="RomeshSeenuvasan">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>PREDICTING HEART ATTACKRISK THROUGH RETINAL IMAGE ANALYSIS USING DEEP LEARNIG</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/templatemo-chain-app-dev.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/animated.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/owl.css')}}">
    <style>
      body{
        background-image: url("https://img.freepik.com/free-psd/maternity-baby-shower-background_23-2150237231.jpg?size=626&ext=jpg&ga=GA1.1.1222169770.1702080000&semt=ais");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
    </style>
  </head>

<body >

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="userlog.html">Home</a></li>
              <li class="scroll-to-section"><a href="developer.html">Developers</a></li>
              <li class="scroll-to-section"><a href="graph.html"  class="active">Graph</a></li>
              <!-- <li class="scroll-to-section"><a href="#about">About</a></li> -->
            </ul>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="pricing-item-regular">
      <div class="row">
        <div class="col-lg-12">       

          <br><br><br>
          {% if img %}
          <h4>COUNT PLOT for {{col}}</h4>
          <img src="{{img}}" style="width: 740px;height: 740px;">
          <br><br>
          {% endif %}

         
          {% for i in range(2) %}
          <div>
            <h5>{{content[i]}}</h5>
            <img src="{{images[i]}}" style="width: 640px;height: 640px;">
          </div>
          <br><br>
          {% endfor %}
      
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  <footer id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>ABOUT US</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <p style="color:white; text-align: justify;">
            The structure and function of the microvascular are significantly influenced by the key cardiovascular disease risk factors of hypertension and heart attacks. Images taken with a fundus camera can be used to spot irregularities in the blood vessels of retina that indicate the extent injury on blood vessels by hypertension and heart attacks. Using machine learning and AI techniques, detecting the preclinical signs that fall below the threshold of an observer.
            <br><br>
            The proposed methodology aimed to investigate the effects of hypertension and heart attacks on morphological characteristics of retinal blood vessels. With a diagnosis of hypertension and heart attack, data scientists collect retinal images. Interference data is removed—information about structures other than that retinal vasculature using the vessel segmentation method, leaving only morphological details about the blood vessel of retina.
          </p>
      </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>AIT</p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/owl-carousel.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/animation.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/imagesloaded.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/popup.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/custom.js')}}"></script>
</body>
</html>